body {
  font-family: "Lato-Regular", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  animation: fade-in 200ms forwards;
  animation-fill-mode: both;
}

h1 {
  font-family: "Gentium", sans-serif;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 5px 0px;
}

ul, li {
  list-style: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a:link, a:visited {
  color: #222;
}


/* ICONS */

.tab-icon--plants {
  background-image: url(~@/assets/icon_search.svg);
}

.tab-icon--mussels {
  background-image: url(~@/assets/icon_search.svg);
}

.tab-icon--atlas_text {
  background-image: url(~@/assets/icon_search.svg);
}


/* TABLES */

.table {
  display: table;
  width: 100%;

  tr td {
    padding: 5px 0px;
  }

  tbody tr:nth-child(odd) {
     background-color: #f3f3f3;
  }

  thead {
    text-align: left;
    margin-top: 15px;
    font-family: "Lato-Bold", sans-serif;

    th {
      padding: 8px 0px;
    }
  }
}


/* Utility classes */
.hide_results {
  display: none;
  pointer-events: none;
}



/* OpenLayers overrides */
.home.sidebar_active .ol-zoom.ol-control {
  @include respond-to(handheld) {
    display: none; /* TEMPORARY -- Needs a way to detect when sidebar is present */
  }
}


.ol-zoom.ol-control {
  position: absolute;
  top: 15px;
  right: 15px;

  button {
    display: block;
    padding: 0px 8px;
    margin-bottom: 10px;
    font-size: 30px;
    background-color: white;
    border: 1px solid #aaa;

    appearance: none;

    &:hover {
      background-color: #ccc;
    }
  }
}


/* MAP COMPONENT */

/* DO Sidebar, Map and Home need to live together for grid-area swap? */
.map {
  display: grid;
  grid-area: map;
  position: relative;
  height: 100vh;
  overflow: hidden;
  @include respond-to(handheld) {
    width: 100vw;
  }
}

.map-controls-wrapper {
  display: grid;
  grid-template-columns: auto auto;

  position: absolute;
  bottom: 40px;
  right: 20px;
  z-index: 1001;

  width: 600px;
  height: 40px;
  background: white;
  padding: 5px 20px;

  @include respond-to(handheld) {
    display: none;
  }
}
