body {
  font-family: "Lato-Regular", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.about-wrapper {
  animation: fade-in 200ms forwards;
  animation-fill-mode: both;
}

h1 {
  font-family: "Gentium", sans-serif;
}

h3 {
  font-family: "Lato-Regular", serif;
  font-size: 1.5em;
  font-weight: normal;
  margin: 5px 0px;
}

ul, li {
  list-style: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}


/* component overrides */
.sidebar--top .lake-card {
  position: absolute;
  bottom: -30px;
  width: 390px;
  margin: 0px 15px;
  box-shadow: 1px 1px 3px #777;
  animation: drop-in 200ms forwards;
  animation-fill-mode: both;
  backface-visibility: hidden;
  background-color: #fff;
  padding: 0px !important;
  grid-template-columns: 140px 1fr !important;

  .info {
    padding: 10px 20px;
  }

  .data-icons {display:none;}

  @include respond-to(handheld) {
    grid-template-columns: 110px 1fr !important;
    width: calc(100vw - 30px);
  }

  h3 {
    font-size: 1.2em;
  }
}


.content-header .lake-card {
  grid-template-columns: 370px 1fr !important;
  padding: 0px !important;
  box-shadow: 1px 1px 3px #777;
  animation: drop-in 200ms forwards;
  animation-fill-mode: both;
  backface-visibility: hidden;

  @include respond-to(handheld) {
    grid-template-columns: 110px 1fr !important;
    width: calc(100vw - 30px);
  }
  
  .info {
    padding: 50px 20px !important;
    @include respond-to(handheld) {
      padding: 15px 15px 0px 15px;
    }
    min-height: 110px;
  }

  .data-icons {display:none;}

  h3 {
    font-size: 1.6em;
    @include respond-to(handheld) {
      font-size: 1.1em;
      max-width: 80%;
    }
  }
}


/* Data tab overrides */

.tabs {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
  width: 90%;
  @include respond-to(handheld) {
    width: calc(100vw - 15px);
    overflow-y: scroll;
    margin-left: 15px !important;
  }
}

.body-main .tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  margin-top: 0px;
  grid-gap: 0px;
  margin-left: 0px;
  padding-left: 0px;
}

.tab-icon--plants {
  background-image: url(~@/assets/icon_search.svg);
}

.tab-icon--mussels {
  background-image: url(~@/assets/icon_search.svg);
}

.tab-icon--atlas_text {
  background-image: url(~@/assets/icon_search.svg);
}

.tab-icon {
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 13% auto;
}

.body-main .tab-icon {
  background-repeat: no-repeat;
  background-position: center 10px;
  background-size: 23px auto;
}

.lake-summary {
  a:link, a:visited {
    font-family: "Lato-Regular", sans-serif;
    background-color: #ECECEC;
    padding: 10px 20px 10px 50px;
    display: block;
    text-decoration: none;
    color: #000;

    &:hover, &:focus {
      background-color: #D8D8D8;
    }

    &.active {
      font-family: "Lato-Bold", sans-serif;
      font-weight: 700;
    }
  }
}

.body-main .tabs {
  position: relative;
  z-index: 2;
  top: 1px;

  li {
    margin-right: 7px;
    max-width: 180px;
    width: auto;
    padding-left: 0px;
    border-left: 1px solid #EAEAEA;
    border-top: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
  }

  a:link, a:visited {
    display:block;
    font-family: "Lato-Regular", sans-serif;
    background-color: #ECECEC;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    padding: 40px 20px 5px 20px;
    text-align: center;
    height: 20px;
    font-size: .8em;


    &:hover, &:focus {
      background-color: #D8D8D8;
    }

    &.active {
      font-family: "Lato-Bold", sans-serif;
      font-weight: 700;
      background-color: white;
    }
  }
}

.tabs li:last-of-type {
  display:none;
}

.data-section {
  background-color: white;
  padding: 15px;
  border: 1px solid #EAEAEA;

  h3 {
    font-size: 1.3em;
    margin: 10px 0px 20px 0px;
  }
}




/* TABLES */

.table {
  display: table;
  width: 100%;

  tr td {
    padding: 5px 0px;
  }

  tbody tr:nth-child(odd) {
     background-color: #f3f3f3;
  }

  thead {
    text-align: left;
    margin-top: 15px;
    font-family: "Lato-Bold", sans-serif;

    th {
      padding: 8px 0px;
    }
  }


}




/* Utility classes */
.hide_results {
  display: none;
  pointer-events: none;
}



/* OpenLayers overrides */
.ol-zoom.ol-control {
  position: absolute;
  top: 15px;
  right: 15px;
  border-bottom: 1px solid #aaa;

  @include respond-to(handheld) {
    display: none;
  }


  button {
    display: block;
    padding: 0px 8px;
    appearance: none;
    font-size: 30px;
    -webkit-appearnace: none;
    -moz-appearance: none;
    background-color: white;
    border: 1px solid #aaa;
    border-bottom: 0px solid black;
    &:hover {
      background-color: #ccc;
    }
  }
}

/* SIDEBAR */
.sidebar {
  position: relative;
  grid-area: sidebar;

  @include respond-to(handheld) {
    position: absolute;
  }

  /* not in use  */
}



/* Home */

.home {
  display: grid;
  grid-template-columns: 0 1fr; /* sidebar closed on load */
  grid-template-areas: "sidebar map";
  width: 100vw;
  height: calc(100vh - 42px); /* full height - header */
  overflow: hidden;
  @include respond-to(handheld) {
    grid-template-areas: "map sidebar";
  }
}

.home.sidebar_active {
  grid-template-columns: $sidebar_width 1fr;
  @include respond-to(handheld) {
  }
}



/* MAP COMPONENT */

.map {
  overflow: hidden;
  position: relative;
  height: 100%;
  max-height: 100vh;
  grid-area: map;
  @include respond-to(handheld) {
    width: 100vw;
  }
}

.map-controls-wrapper {
  width: 600px;
  height: 40px;
  position: absolute;
  bottom: 40px;
  right: 20px;
  background: white;
  z-index: 1001;
  padding: 5px 20px;
  display: grid;
  grid-template-columns: auto auto;

  @include respond-to(handheld) {
    display: none;
  }
}
