/* VIEWPORT BREAKPOINTS */
$break-xsmall: 350px;
$break-small: 600px;
$break-small-height: 700px;
$break-med: 900px;
$break-large: 1200px;
$break-xlarge: 1400px;  // if necessary

@mixin respond-to($media) {
  @if $media == tiny {
    @media only screen and (max-width: $break-xsmall) {
      @content;
    }
  } @else if $media == handheld {
    @media only screen and (max-width: $break-small) {
      @content;
    }
    @media only screen and (max-height: $break-small-height) {
      @content;
    }
  } @else if $media == medscreen {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-med - 1) {
      @content;
    }
  } @else if $media == lgscreen {
    @media only screen and (min-width: $break-med + 1) and (max-width: $break-large - 1) {
      @content;
    }
  } @else if $media == widescreen {
    @media only screen and (min-width: $break-large + 1) and (max-width: $break-xlarge - 1) {
      @content;
    }
  }
  //	@else if $media == xwidescreen {
  //	  @media only screen and (min-width: $break-xlarge) { @content; }
  //	}
}

/* VARS */
$primary_color: #06186A;

$sidebar_desktop_width: 420px;            // width of sidebar on larger displays
$sidebar_mobile_width: 100vw;             // width of sidebar on mobile
$main_desktop_height: calc(100vh - 42px); // height of main content on larger displays
$main_mobile_height: 200px;               // height of main content on mobile


@font-face {
  font-family: 'Lato-Regular';
  font-weight: 400;
  src: url('~@/assets/fonts/Lato-Regular.woff2') format('woff2'), url('~@/assets/fonts/Lato-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Bold';
  font-weight: 700;
  src:
  url('~@/assets/fonts/Lato-Bold.woff2') format('woff2'),
  url('~@/assets/fonts/Lato-Bold.woff') format('woff');
  font-display: swap;
}

/* @font-face {
  font-family: 'Gentium';
  font-weight: 400;
  src:
  url('~@/assets/fonts/Gentium-Basic.woff2') format('woff2'),
  url('~@/assets/fonts/Gentium-Basic.woff') format('woff');
  font-display: swap;
}
*/

//Animations

@keyframes fade-in {
  0%   {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out-disappear {
  0%   {
    opacity: 1;
    display: block;
    height: 70px;
  }
  70% {
    opacity: 1;
    display: block;
    height: 70px;
  }
  80% {
    opacity: .7;
    display: block;
    height: 70px;
  }
  100% {
    opacity: 0;
    display: none;
    height: 0;
  }
}

@keyframes drop-in {
  0%   {
    transform: translateY(-45px) /*rotateX(110deg) */;
    opacity: 0;
  }
  100% {
    transform: translateY(0px) /* rotateX(0deg) */;
    opacity: 1;
  }
}

@keyframes slide-in {
  0%   {
    transform: translateX(45px) /*rotateX(110deg) */;
    opacity: 0;
  }
  100% {
    transform: translateX(0px) /* rotateX(0deg) */;
    opacity: 1;
  }
}
