.tabs {
  li:last-of-type {
    display:none;
  }
}
/* Each tab is wrapped in a router a tag */

.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;

  position: relative;
  z-index: 2;
  top: 1px;

  margin-top: 0px;
  margin-bottom: 25px;
  margin-left: 0px;
  padding: 0px;
  grid-gap: 0px;

  @include respond-to(handheld) {
    width: 100vw;
    overflow-y: scroll;
  }

  li {
    width: 110px;
    padding: 0px;
    background-color: #E7E7E7;
    overflow: hidden;
    @include respond-to(handheld) {
      width: 33.333%;
    }

  }

  a:link, a:visited {
    display: block;
    font-family: "Lato-Regular", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: $primary_color;
    padding: 50px 10px 10px 10px;
    text-align: center;
    font-size: .8em;
    @include respond-to(handheld) {
      font-size: .7em;
    }


    &:hover, &:focus {
      background-color: $primary_color;
      color: white;
    }

    &.active {
      font-family: "Lato-Bold", sans-serif;
      font-weight: 700;
      background-color: #fff;
      color: $primary_color;
    }
  }
}

.lake-summary {
  margin-top: -60px;

  .tabs {
    margin-bottom: 0px;
    width: 100%;
  }

  .tabs li {
    width: 33%;
  }
}


.tab-icon {
  background-repeat: no-repeat;
  background-position: center 16px;
  background-size: 26px auto;
}

/* For the Data Tabs, there *should* be a way to just dynamically call a section-name.svg and then change the fill color of that svg on hover, focus and active state. Using <use> was useless. <object> calls a source by the data= attribute, which Vue thinks is ridiculous. So for now we have two sets of simple svg icons, and like animals, we swap them out. */

.tab-icon--plants:hover,
.tab-icon--plants:focus { background-image: url(~@/assets/plants-white.svg);}
.tab-icon--mussels:hover,
.tab-icon--mussels:focus { background-image: url(~@/assets/clam-white.svg);}
.tab-icon--atlas_text:hover,
.tab-icon--atlas_text:focus { background-image: url(~@/assets/book-open-white.svg); }
.tab-icon--watershed:hover,
.tab-icon--watershed:focus { background-image: url(~@/assets/water-white.svg);}
.tab-icon--photos:hover,
.tab-icon--photos:focus { background-image: url(~@/assets/camera-white.svg);}
.tab-icon--documents:hover,
.tab-icon--documents:focus { background-image: url(~@/assets/file-white.svg);}

.tab-icon--plants,
.active.tab-icon--plants:hover,
.active.tab-icon--plants:focus { background-image: url(~@/assets/plants.svg);}
.tab-icon--mussels,
.active.tab-icon--mussels:hover,
.active.tab-icon--mussels:focus { background-image: url(~@/assets/clam.svg); }
.tab-icon--atlas_text,
.active.tab-icon--atlas_text:hover,
.active.tab-icon--atlas_text:focus { background-image: url(~@/assets/book-open.svg);}
.tab-icon--watershed,
.active.tab-icon--watershed:hover,
.active.tab-icon--watershed:focus { background-image: url(~@/assets/water.svg);}
.tab-icon--photos,
.active.tab-icon--photos:hover,
.active.tab-icon--photos:focus { background-image: url(~@/assets/camera.svg);}
.tab-icon--documents,
.active.tab-icon--documents:hover,
.active.tab-icon--documents:focus { background-image: url(~@/assets/file.svg);}


.data-sections {
  margin-bottom: 20px;
}

.data-section {
  background-color: white;
  padding: 15px;

  h3 {
    font-size: 1.3em;
    margin: 10px 0px 20px 0px;
  }
}
