/* Lake Card Component */


/* Search results card */
.lake-card {
  display: grid;
  grid-template-columns: 110px 1fr;
  padding: 10px 20px;
  position: relative;
  z-index: 99;

  .photo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: white;
  }

  .photo.photo--generic {
    background-size: 100px 100px;
  }

  .info {
    background-color: white;
    padding: 10px 15px;
    i {
      font-style: italic;
      font-weight: 400;
      font-family: "Lato-Regular", sans-serif;
    }
  }

  h3 {
    margin: 0px;
    font-size: 1em;
    line-height: 1.3em;
    font-family: "Lato-Bold", sans-serif;
  }

  p {
    font-size: .9em;
    font-weight: 400;
    margin-top: 0px;
  }

  .data-icons { margin: 5px 0px 0px 0px; }

  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.data-icons .mussels { background-image: url(~@/assets/clam.svg);}
.data-icons .summary { background-image: url(~@/assets/book-open.svg);}
.data-icons .plants { background-image: url(~@/assets/plants.svg);}
.data-icons .documents { background-image: url(~@/assets/file.svg);}
.data-icons .photos { background-image: url(~@/assets/camera.svg);}
.data-icons .watershed { background-image: url(~@/assets/water.svg);}

/* Sidebar card */

.sidebar-content .lake-card {
  grid-template-columns: 140px 1fr;
  width: 390px;
  margin: 0px 15px;
  padding: 0px;
  box-shadow: 1px 1px 3px #777;
  position: relative;
  top: -30px;

  animation: drop-in 200ms forwards;
  animation-fill-mode: both;
  backface-visibility: hidden;

  .data-icons { display:none; }

  @include respond-to(handheld) {
    grid-template-columns: 110px 1fr;
    width: calc(100vw - 30px);
  }

  h3 {
    font-size: 1.2em;
  }
}


/* Lake detail card */

.detail-content .lake-card {
  grid-template-columns: 370px 1fr;

  padding: 0px;
  box-shadow: 1px 1px 3px #777;

  animation: drop-in 200ms forwards;
  animation-fill-mode: both;
  backface-visibility: hidden;

  @include respond-to(handheld) {
    grid-template-columns: 110px 1fr;
    width: calc(100vw - 30px);
    margin: 0px 15px;
  }

  .info {
    padding: 50px 20px;
    min-height: 110px;
    @include respond-to(handheld) {
      padding: 15px 15px 0px 15px;
    }
  }

  .data-icons {display:none;}

  h3 {
    font-size: 1.6em;
    @include respond-to(handheld) {
      font-size: 1.1em;
      max-width: 80%;
    }
  }
}

table {
  width: 100%;
  margin: 20px 0px;

  tr th,
  tr td {
    text-align: left;
    vertical-align: top;
    font-size: .9em;
  }

  tr th {
    color: #888;
    text-transform: uppercase;

  }
}

table.datatable {

  tr th,
  tr td {
    padding-right: 10px;

    @include respond-to(handheld) {
      font-size: .8em;
    }
    @include respond-to(medscreen) {
      font-size: .8em;
    }
  }

  tr th {
    @include respond-to(handheld) {
      min-width: 4em;
    }
    @include respond-to(medscreen) {
      min-width: 4em;
    }
  }

  tr td > span.indent {
    padding-right: 0px;
  }
  tr td span.indent {
    padding: 0px 10px;
  }
}

.sidebar-content .longrow {
  width: 66%;
}


#search-results-wrapper .fast-stats { display: none; }
#search-results-wrapper .show-all { padding: 1em 0em; text-align: center; background-color: #f0f0f0;}

#search-results-wrapper .lake-card .photo {
  min-height: 90px;
}

.detail-content .lake-card .photo--generic {
  background-size: 160px 160px;
  @include respond-to(handheld) {
    background-size: 100px 100px;
  }
}
